<!-- 
            <div class="app mergely-full-screen-8">
               
                  
           
              <header  style=" background-color:#007bff!important;height: 50px;">
          <span style="margin-left: 10px;cursor: pointer;color: white" id="prev" title="Previous diff">Previous Diff ▲</span>
                    <span style="margin-left: 10px;cursor: pointer;color: white"id="next" title="Next diff">Next diff ▼</span>
                    <span style="margin-left: 10px;cursor: pointer;color: white"id="first" title="First diff">First diff ▼</span>
                    <span style="margin-left: 10px;cursor: pointer;color: white"id="last" title="Last diff">Last diff ▼</span>
                   </header>
                   
                   
  <div class="mergely-resizer">
    <div id="mergely"></div>
  </div>
</div> -->
<ul id="nav">
  <li><a id="prev" title="Previous diff">Previous Diff ▲</a></li>
  <li><a id="next" title="Next diff">Next diff ▼</a></li>
  <li><a id="first" title="First diff">First diff ▲</a></li>
  <li><a id="last" title="Last diff">Last diff ▼</a></li>
  
</ul>

<div class="main">
    <div class="mergely-resizer">
        <div id="mergely"></div>
      </div>
</div>